<style>
    .clsCart {
        transition: all 300ms;
        position: fixed;
        width: 400px;
        right: 0px;
        top: 57px;
        bottom: 0px;
        background: yellow;
    }

    @@media only screen and (max-width: 600px) {
        .clsCart {
            width: 200px;
        }
    }
</style>
<script>
    $(document).ready(function(){
        HideCart();
        PopulateCart();
    })
    function HideCart(){
        $('#dvCart').css('right','-'+$('#dvCart').width()+'px');
    }
        function ShowCart() {
        $('#dvCart').show(); // Or use .css('display', 'block');
        //$('#dvCart').css('display','');
        $('#dvCart').css('right','0px');
        PopulateCart();
    }
    
        var ListCartProduct = [];
    var i = 0;
    function AddToCart(ProductID) {
        if (i == 0) {
            var LsData = localStorage.getItem("CartProducts");
            var ListCartProductExist = JSON.parse(LsData);
           
            $.each(ListCartProductExist, function(index, obj) {
                ListCartProduct.push(obj);
            });
            i = 1;
        }
        $.get("https://dummyjson.com/products/" + ProductID, function(data, status) {
            $('#pdTitle').html(data.title);
            $('#pdDescription').html(data.description);
            $('#pdPrice').html(data.price);
            $('#pdImgUrl').attr('src', data.images[0]);
            // Add quantity property to the product data
           var existingProductIndex = ListCartProduct.findIndex(p => p.id === data.id);

        if (existingProductIndex !== -1) {
            // Product exists - increment quantity
            if (!ListCartProduct[existingProductIndex].quantity) {
                ListCartProduct[existingProductIndex].quantity = 1; // Initialize if doesn't exist
            }
            ListCartProduct[existingProductIndex].quantity += 1;
        } else {
            // Product doesn't exist - add to cart with quantity 1
            var productWithQuantity = {...data, quantity: 1}; // Create new object with quantity
            ListCartProduct.push(productWithQuantity);
        }
            
            localStorage.setItem("CartProducts", JSON.stringify(ListCartProduct));
            PopulateCart();
            alert('Product Added in cart successfully');
        });
    }
    function PopulateCart() {
        var lsData = localStorage.getItem("CartProducts");
        var ListCartProductNew = JSON.parse(lsData);
         // Calculate total items count (sum of all quantities)
    var totalItems = ListCartProductNew.reduce((total, product) => {
        return total + (product.quantity || 1);
    }, 0);
     var totalPrice = ListCartProductNew.reduce((total, product) => {
        return total + (product.quantity || 1)*product.price;
    }, 0);

    $('#CartTotalPrice').html(Math.floor(totalPrice));
    $('#spnCartCount').html(totalItems);
        $('#divCartItems').html('');
        $.each(ListCartProductNew, function(index, obj) {
            $('#divCartItems').append(`
                <div class="row">
                    <div class="col col-sm-12">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="${obj.thumbnail}" class="img-fluid rounded-start" alt="..." style="width:80px" />
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">${obj.title}</h5>
                                        <p class="card-text">${obj.price}</p>
                                        <p class="card-text"><small class="text-muted">Total:${obj.quantity || 1}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            `);
        });
           
            
        
    
    }
    function DetailsCart(){
        window.location.href='@Url.Action("CartDetails", "Product")';
        
    }
    
    function DetailsCheckout(){
        window.location.href='@Url.Action("Checkout", "Product")';

    }


</script>
<div id="dvCart" class="clsCart" style="display:none">
    <input type="button" value="Close" onclick="HideCart()" />
    <hr />
    <div id="divCartItems" style="overflow-y:auto;overflow-x:hidden;height: 450px; ">
    </div>
    <div style="width:100%">
        <center>
            Total Price:<span id="CartTotalPrice"></span>
        </center>
        <div>
            <input type="button" value="View Cart" onclick="DetailsCart()" />
            <input type="button" value="Checkout" onclick="DetailsCheckout()" />
        </div>
    </div>
</div>
